<div class="container-fluid">
    <div class="row">
        <main role="main" class="col-lg-12">
            <h1>Profile</h1>
            <div class="card">
              <div class="card-body">
                <div>User name: {{userProfile.username}}</div>
                <div>Email: {{userProfile.email}}</div>
                <div>Public key: {{userProfile.public_key }}</div>
                <div>Amount: {{xtechWallet}}</div>
                <div>REC: XX</div>
              </div>
            </div>

        </main>
    </div>
    <div class="row">
        <main role="main" class="col-lg-12">
            <div class="table-responsive">
                <h1>My offers</h1>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Users name</th>
                            <th>Token amount</th>
                            <th>Total price</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let offer of myOffers">
                          <td>{{offer.name}}</td>
                          <td>{{offer.offered_tokens}}</td>
                          <td>{{offer.offered_money}}</td>
                            <td>
                                <button (click)="cancel(offer.asset_id)" class="btn btn-outline-primary">Cancel</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
    <div class="row">
        <main role="main" class="col-lg-12">
            <h1>Offers from others</h1>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Users name</th>
                            <th>Token amount</th>
                            <th>Total price</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let offer of recivingOffers">
                            <td>{{offer.name}}</td>
                            <td>{{offer.offered_tokens}}</td>
                            <td>{{offer.offered_money}}</td>
                            <td>
                                <button (click)="accept(offer.asset_id)" class="btn btn-outline-primary">Accept</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>
