<div class="container-fluid">
    <div class="row">
        <main role="main" class="col-lg-12">
            <h1>User list</h1>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Users name</th>
                            <th>Tokens</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Name1</td>
                            <td>9991</td>
                            <td>
                              <button class="btn btn-outline-primary">Send offer</button>
                            </td>
                        </tr>
                        <tr>
                            <td>Name2</td>
                            <td>9992</td>
                            <td>
                              <button class="btn btn-outline-primary">Send offer</button>
                            </td>
                        </tr>
                        <tr>
                            <td>Name3</td>
                            <td>0</td>
                            <td>
                              <button class="btn btn-outline-primary">Send offer</button>
                            </td>
                        </tr>
                        <tr>
                            <td>Name4</td>
                            <td>1</td>
                            <td>
                              <button class="btn btn-outline-primary">Send offer</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>
